<!DOCTYPE html>

<html>
    <head>
        <title>Skattejagt</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <meta charset="UTF-8">
        <style>
            body {
                margin: 1em;
            }
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
            }
            table {
                font-size: 10pt;
            }
            td, th {
                padding-top: 1px;
                padding-bottom: 1px;
                padding-left: 3px;
                padding-right: 3px;
            }
            th {
                font-weight: 600;
            }
            tr {
                text-align: right;
            }
            tr.last {
                font-weight: 600;
            }
            img {
                width: 100%;
            }
            #update {
                margin-bottom: 1em;
            }
            .emph {
                font-weight: 700;
                font-style: italic;
            }
        </style>
        <script>
            let loggedIn = false;
            let showHint = true;
            let currentTask;
            let groupCode;
            let postCode;

            let post0Values = {
                starsignNumber: null,
                linesStarsign: null,
                whereStarsign: null,
                moonsign: null,
                otherSign: null,
            };
            let post1Value;
            let post5Value;
            let post51Value;
            let post61Value;
            let post62Value;
            let post7Value;

            window.onload = () => {
                document.getElementById("group-code").value = null;
                document.getElementById("group-code").oninput = (event) => {
                    groupCode = Number.parseInt(event.target.value);
                };
                document.getElementById("log-in").onclick = logIn;


                document.getElementById("post-code").value = null;
                document.getElementById("post-code").oninput = (event) => {
                    postCode = Number.parseInt(event.target.value);
                };
                document.getElementById("submit-post-code").onclick = atPost;

                document.getElementById("update").onclick = updateScores;

                // Submit buttons
                document.getElementById("submit-0").onclick = post0Submit;
                document.getElementById("submit-1").onclick = post1Submit;
                document.getElementById("submit-2").onclick = post2Submit;
                document.getElementById("submit-3").onclick = post3Submit;
                document.getElementById("submit-4").onclick = post4Submit;
                document.getElementById("submit-5").onclick = post5Submit;
                document.getElementById("submit-6").onclick = post6Submit;
                document.getElementById("submit-7").onclick = post7Submit;

                // Post 0
                document.getElementById("input-0-0").value = null;
                document.getElementById("input-0-0").oninput = (event) => { post0Values.starsignNumber = Number.parseFloat(event.target.value); };
                document.getElementById("input-0-1").value = null;
                document.getElementById("input-0-1").oninput = (event) => { post0Values.linesStarsign = event.target.value; };
                document.getElementById("input-0-2").value = null;
                document.getElementById("input-0-2").oninput = (event) => { post0Values.whereStarsign = event.target.value; };
                document.getElementById("input-0-3").value = null;
                document.getElementById("input-0-3").oninput = (event) => { post0Values.moonsign = event.target.value; };
                document.getElementById("input-0-4").value = null;
                document.getElementById("input-0-4").oninput = (event) => { post0Values.otherSign = event.target.value; };

                // Post 1
                document.getElementById("input-1").value = null;
                document.getElementById("input-1").oninput = (event) => { post1Value = event.target.value.toLowerCase(); };

                // Post 2

                // Post 3

                // Post 4

                // Post 5
                document.getElementById("input-5").value = null;
                document.getElementById("input-5").oninput = (event) => { post5Value = Number.parseInt(event.target.value); };
                document.getElementById("input-5-1").value = null;
                document.getElementById("input-5-1").oninput = (event) => { post51Value = Number.parseFloat(event.target.value); };

                // Post 6
                document.getElementById("input-6-1").value = null;
                document.getElementById("input-6-1").oninput = (event) => { post61Value = event.target.value; };
                document.getElementById("input-6-2").value = null;
                document.getElementById("input-6-2").oninput = (event) => { post62Value = event.target.value; };

                // Post 7
                document.getElementById("input-7").value = null;
                document.getElementById("input-7").oninput = (event) => { post7Value = event.target.value.toLowerCase(); };

                updateScores();
                updateVisibility();
            };

            const updateVisibility = () => {
                setVisible(document.getElementById("if-not-logged-in"), !loggedIn);
                setVisible(document.getElementById("if-logged-in"), loggedIn);

                for (let i = 0; i < 8; ++ i) {
                    setVisible(document.getElementById(`task-${i}`), currentTask === i && !showHint);
                }

                if (showHint) {
                    setVisible(document.getElementById("if-hint"), true);
                    document.getElementById("hint").innerHTML = `<p>Gå til post ${currentTask % 8 + 1}. Indtast postens kode, når fundet.</p>`
                } else {
                    setVisible(document.getElementById("if-hint"), false);
                    setVisible(document.getElementById(`task-${currentTask}`), true);
                }
            };

            const setVisible = (elem, visible) => {
                if (visible) {
                    elem.style.display = "block";
                } else {
                    elem.style.display = "none";
                }
            };

            const request = async (addr) => {
                return (await fetch(addr)).json();
            };

            const updateScores = async () => {
                const scores = await request("/scores");
                const total = [];
                for (let i = 0; i < 4; ++ i) {
                    total.push(0);
                    for (j = 0; j < 8; ++ j) {
                        total[i] += scores[j][i];
                        if (scores[j][i] > 0) {
                            document.getElementById(`${j}-${i}`).innerText = scores[j][i].toFixed(1);
                        }
                    }
                }
                for (let i = 0; i < 4; ++ i) {
                    document.getElementById(`${i}`).innerText = total[i].toFixed(1);
                }
            };

            const logIn = async () => {
                const response = await request(`/log-in?group=${groupCode}`);

                loggedIn = true;
                showHint = response.show_hint;
                currentTask = response.current_post;

                updateVisibility();
            };

            const atPost = async () => {
                const response = await request(`/at-post?group=${groupCode}&post-code=${postCode}`);

                if (response) {
                    showHint = response.show_hint;
                    currentTask = response.current_post;
                }

                updateVisibility();
            };

            const post0Submit = async () => {
                // Fuld score på 20 sek eller mindre
                let score = 0;
                score += post0Values.starsignNumber === 12;
                score += post0Values.linesStarsign.toLowerCase().includes("vandmand");
                score += post0Values.whereStarsign.toLowerCase().includes("lufttegn");
                score += post0Values.moonsign.toLowerCase().includes("skytte");
                score += post0Values.otherSign.toLowerCase().includes("vædder");
                await submitScore(score);
            };

            const post1Submit = async () => {
                let score = 0;
                if (post1Value.includes("writer") || post1Value.includes("skrive")) {
                    score += 2.5;
                }
                if (post1Value.includes("block") || post1Value.includes("blok")) {
                    score += 2.5;
                }
                await submitScore(score);
            };

            const post2Submit = async () => {
                const score = 5 * (document.getElementById("task-2-select").selectedIndex === 0);
                await submitScore(score);
            };

            const post3Submit = async () => {
                let score = 0;
                if (document.getElementById("task-3-0-select").selectedIndex === 1) {
                    score += 2.5;
                }
                if (document.getElementById("task-3-1-select").selectedIndex === 7) {
                    score += 2.5;
                }
                await submitScore(score);
            };

            const post4Submit = async () => {
                const score = 5 * (document.getElementById("task-4-select").selectedIndex === 5);
                await submitScore(score);
            };

            const post5Submit = async () => {
                const numItems = 8;
                let score = 2.5 * post5Value / numItems;
                const value = Math.max(10, post51Value) - 10;
                score += 2.5 * Math.exp(-value / 10);
                await submitScore(score);
            };

            const post6Submit = async () => {
                let score = 0;
                if (post61Value === "2") {
                    score += 2.5;
                }
                if (post62Value === "4") {
                    score += 2.5;
                }
                await submitScore(score);
            };

            const post7Submit = async () => {
                const score = 5 * post7Value.includes("asger");
                await submitScore(score);
            };

            const submitScore = async (score) => {
                score = Math.min(score, 5);
                score = Math.max(score, 0);
                const response = await request(`/submit?group=${groupCode}&score=${score}`);
                if (response) {
                    showHint = response.show_hint;
                    currentTask = response.current_post;
                }

                document.getElementById("post-code").value = null;
                await updateScores();
                updateVisibility();
            }
        </script>
    </head>

    <body>
        <h1>Skattejagt</h1>
        <div id="if-not-logged-in">
            <input type="text" placeholder="Holdets kode" id="group-code">
            <button id="log-in">Log ind</button>
        </div>
        <div id="if-logged-in">
            <div id="if-hint">
                <div id="hint"></div>
                <input type="text" placeholder="Postens kode" id="post-code">
                <button id="submit-post-code">Indsend</button>
            </div>
            <div id="task-0">
                <h2>Post 1: Stjernetegn</h2>
                <ol>
                    <li>
                        <p>Hvor mange stjernetegn findes der?</p>
                        <input id="input-0-0">
                    </li>
                    <li>
                        <p>Hvilket stjernetegn er Line?</p>
                        <input id="input-0-1">
                    </li>
                    <li>
                        <p>Der er luftegn, vandtegn, jordtegn og ildtegn. Hvori placeres Lines stjernetegn?</p>
                        <input id="input-0-2">
                    </li>
                    <li>
                        <p>Line blev født d. 24 januar 1998. Hvad er hendes månetegn?</p>
                        <p>Hint: modsætningen til hendes månetegn er tvillingen.</p>
                        <input id="input-0-3">
                    </li>
                    <li>
                        <p>Line har et andet yndlingstegn end vandmanden. Hvad er det?</p>
                        <p>Hint: Hun plejer at sige, “water soothes earth like air feeds fire”.</p>
                        <input id="input-0-4">
                    </li>
                </ol>
                <button id="submit-0">Indsend svar</button>
            </div>
            <div id="task-1">
                <h2>Post 2: Line er i krise</h2>
                <p>Line er en mester til store skriverier og lange tekster, dog har hun haft rigtig svært ved at finde på ideer og spørgsmål til jeres skattejagt. Hun er blevet ramt af noget … men hvad?</p>
                <p>Se <a href="https://www.youtube.com/watch?v=nK2gVZ5Cj30" target="_blank">traileren</a> til Lines absolutte yndlingsserie for at finde ud af, hvad der ramt hende. Hint: Før 0:43.</p>

                <input id="input-1">
                <button id="submit-1">Indsend svar</button>
            </div>
            <div id="task-2">
                <h2>Post 3: Fortabt kærlighed</h2>
                <p>Line har kastet sin kærlighed på mange flotte mænd, men der nogle som ikke har gengældt den.
                    Hendes bedste venner har dog altid haft hendes ryg. Da Line holdt fødselsdag og fyldte 15 år,
                    gav hendes bedste barndomsven Søren, hende et hjemmeredigeret billede i ramme af hende som brud
                    med en kendis som hun altid har være forelsket i. Hvilken kendis har Line fået sit eget bryllupsbillede med?</p>
                <select id="task-2-select">
                    <option>Bradley Cooper</option>
                    <option>Liam O'connor (L.O.C.)</option>
                    <option>Ryan Gosling</option>
                    <option>Justin Bieber</option>
                </select>
                <button id="submit-2">Indsend svar</button>
            </div>
            <div id="task-3">
                <h2>Post 4: Livets færden</h2>
                <ol>
                    <li>
                        <p>Line er født i Mumbai, Lines mor er født på Amager, men hvor er hendes far født?</p>
                        <select id="task-3-0-select">
                            <option>Odense</option>
                            <option>Jylland</option>
                            <option>Bornholm</option>
                            <option>Slesvig-Holsten</option>
                        </select>
                    </li>
                    <li>
                        <p>Line har gået til mange sports for at udfolde sig selv og søgt efter sin levevej, så hun kunne blive kendt og berømt,
                            hun fandt den dog aldrig… hvad har Line ikke gået til ELLER forsøgt sig på?</p>
                        <select id="task-3-1-select">
                            <option>Ballet</option>
                            <option>Ridning</option>
                            <option>Selvforsvar</option>
                            <option>Håndbold</option>
                            <option>Fodbold</option>
                            <option>Svømning</option>
                            <option>Springgymnastik</option>
                            <option>Bueskydning</option>
                            <option>Scenekunst</option>
                        </select>
                    </li>
                </ol>
                <button id="submit-3">Indsend svar</button>
            </div>
            <div id="task-4">
                <h2>Post 5: Skønhed</h2>
                <p>Line er skøn, rigtig skøn. Fordi hun har mange skønhedspletter! Hvor sidder der ikke en skønhedsplet på Line?</p>
                <select id="task-4-select">
                    <option>På indersiden af albuen</option>
                    <option>Over øjenbrynet</option>
                    <option>I øjet</option>
                    <option>I knæhasen</option>
                    <option>På tåen</option>
                    <option>På knæet</option>
                </select>
                <button id="submit-4">Indsend svar</button>
            </div>
            <div id="task-5">
                <h2>Post 6: Husk Lines liv + snørrebånd</h2>
                <p>Valdemar foklarer.</p>
                <p>Ting husket</p>
                <input id="input-5">
                <p>Snørrebåndstid</p>
                <input id="input-5-1"><br><br>
                <button id="submit-5">Indsend svar</button>
            </div>
            <div id="task-6">
                <h2>Post 7: Lines tal</h2>
                <p>Indtast to tal fra 1 til 5. Tallene er på mystisk vis relaterede til Line.</p>
                <input id="input-6-1"><br>
                <input id="input-6-2"><br>
                <button id="submit-6">Indsend svar</button>
            </div>
            <div id="task-7">
                <h2>Post 8: Til ære for</h2>
                <p>Hvem kom Line til undsætning og hjalp hende med at sætte skattejagten op? I skal finde fornavnet.</p>
                <p>Her kommer fem gode sange.</p>
                <ol>
                    <li>Arbejd jer frem til sangenes titel.</li>
                    <li>Navnet findes ved at sætte første bogstav fra hver sangtitel sammen.
                        Hvis fx sangene er "I'm like a bird" og "Banana pancakes", så er navnet I + B = Ib.
                    </li>
                </ol>
                <p>Held og lykke!</p>
                <input id="input-7">
                <button id="submit-7">Indsend svar</button>
            </div>
        </div>

        <h2>Leaderboard</h2>
        <button id="update">Opdater</button>
        <table>
            <tr>
                <th></th>
                <th>Hold 1</th>
                <th>Hold 2</th>
                <th>Hold 3</th>
                <th>Hold 4</th>
            </tr>
            <tr><td>Post 1</td><td id="0-0"></td><td id="0-1"></td><td id="0-2"></td><td id="0-3"></td></tr>
            <tr><td>Post 2</td><td id="1-0"></td><td id="1-1"></td><td id="1-2"></td><td id="1-3"></td></tr>
            <tr><td>Post 3</td><td id="2-0"></td><td id="2-1"></td><td id="2-2"></td><td id="2-3"></td></tr>
            <tr><td>Post 4</td><td id="3-0"></td><td id="3-1"></td><td id="3-2"></td><td id="3-3"></td></tr>
            <tr><td>Post 5</td><td id="4-0"></td><td id="4-1"></td><td id="4-2"></td><td id="4-3"></td></tr>
            <tr><td>Post 6</td><td id="5-0"></td><td id="5-1"></td><td id="5-2"></td><td id="5-3"></td></tr>
            <tr><td>Post 7</td><td id="6-0"></td><td id="6-1"></td><td id="6-2"></td><td id="6-3"></td></tr>
            <tr><td>Post 8</td><td id="7-0"></td><td id="7-1"></td><td id="7-2"></td><td id="7-3"></td></tr>
            <tr class="last"><td>Total</td><td id="0">0.0</td><td id="1">0.0</td><td id="2">0.0</td><td id="3">0.0</td></tr>
        </table>

        <h2>Kort over området</h2>
        <p>Jeres færd kan føre jer til mange farer, men også lykke. Fat mod, og så vil lykkens gudinde tilsmile jer, inden aftenen er omme!</p>
        <img src="{{ kort }}">
    </body>
</html>
