<!DOCTYPE html>

<html>
    <head>
        <title>Skattejagt</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <meta charset="UTF-8">
        <style>
            body {
                margin: 1em;
            }
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
            }
            table {
                font-size: 10pt;
            }
            td, th {
                padding-top: 1px;
                padding-bottom: 1px;
                padding-left: 3px;
                padding-right: 3px;
            }
            th {
                font-weight: 600;
            }
            tr {
                text-align: right;
            }
            tr.last {
                font-weight: 600;
            }
            img {
                width: 100%;
            }
            #update {
                margin-bottom: 1em;
            }
            .emph {
                font-weight: 700;
                font-style: italic;
            }
        </style>
        <script>
            let loggedIn = false;
            let showHint = true;
            let currentTask;
            let groupCode;
            let postCode;
            let snoerrebaandstid;

            let post1CorrectIndex = [1, 4, 2, 4, 3];
            let post1Answered = [-1, -1, -1, -1, -1];

            let swallow;

            let post3CorrectIndex = [4, 3, 2, 1, 0];
            let post3Answered = [-1, -1, -1, -1, -1];

            let stafettid;

            let gpu;

            const hints = [
                '<h2>Hint til post 1</h2><p>Gå til nummer SUDOKU og søg bag rør.</p>',
                '<h2>Hint til post 2</h2><p>Du vil sætte en kano i vandet og går hen til der, hvor man gør det. Da du kommer frem, ender du som en af drengene på bænken.</p>',
                '<h2>Hint til post 3</h2><p>Når du står på toppen af denne bueformede konstruktion, kan du fra sikker afstand betragte både vores alle sammens statsminister 🌹🌹🌹 og bølgen blå 🌊🌊🌊. (Hvis du tror, du er det rigtige sted, men der er nogle møgunger, der har pillet posten ned, så ring lige pls).</p>',
                '<h2>Hint til post 4</h2><p>Gå til dette lokale hygested, hvor det rygtes, at de serverer stegt flæsk med persillesovs ad libitum. Stil dig, så du betragter bænkene fra stien og husk altid at læse P reglementet - grundigt!</p>',
                '<h2>Hint til post 5</h2><p>Du har fundet nogle tal, men forstår ej deres mening: 55.772614 12.471508.</p>',
                '<h2>Hint til post 6</h2><p>Stedet der aldrig skuffer med <span class="emph">10</span> shots om fredagen. Når du er der, sætter du dig på bænken ude foran og hygger lidt.</p>',
            ];

            window.onload = () => {
                document.getElementById("group-code").value = null;
                document.getElementById("group-code").oninput = (event) => {
                    groupCode = Number.parseInt(event.target.value);
                };
                document.getElementById("log-in").onclick = logIn;


                document.getElementById("post-code").value = null;
                document.getElementById("post-code").oninput = (event) => {
                    postCode = Number.parseInt(event.target.value);
                };
                document.getElementById("submit-post-code").onclick = atPost;

                document.getElementById("update").onclick = updateScores;

                // Submit buttons
                document.getElementById("submit-0").onclick = post0Submit;
                document.getElementById("submit-1").onclick = post1Submit;
                document.getElementById("submit-2").onclick = post2Submit;
                document.getElementById("submit-3").onclick = post3Submit;
                document.getElementById("submit-4").onclick = post4Submit;
                document.getElementById("submit-5").onclick = post5Submit;

                // Post 0
                document.getElementById("snoerrebaand").value = null;
                document.getElementById("snoerrebaand").oninput = (event) => {
                    snoerrebaandstid = Number.parseFloat(event.target.value);
                };

                // Post 1
                for (let i = 0; i < 5; ++ i) {
                    const select = document.getElementById(`task-1${i}-select`);
                    post1Answered[i] = select.selectedIndex;
                }

                // Post 2
                document.getElementById("swallow").value = null;
                document.getElementById("swallow").oninput = (event) => {
                    swallow = event.target.value;
                };

                // Post 3
                for (let i = 0; i < 5; ++ i) {
                    const select = document.getElementById(`task-3${i}-select`);
                    post3Answered[i] = select.selectedIndex;
                }

                // Post 4
                document.getElementById("stafet").value = null;
                document.getElementById("stafet").oninput = (event) => {
                    stafettid = Number.parseFloat(event.target.value);
                };

                // Post 5
                document.getElementById("gpu").value = null;
                document.getElementById("gpu").oninput = (event) => {
                    gpu = Number.parseFloat(event.target.value);
                };

                updateVisibility();
            };

            const updateVisibility = () => {
                setVisible(document.getElementById("if-not-logged-in"), !loggedIn);
                setVisible(document.getElementById("if-logged-in"), loggedIn);

                for (let i = 0; i < 6; ++ i) {
                    setVisible(document.getElementById(`task-${i}`), currentTask === i && !showHint);
                }

                if (showHint) {
                    setVisible(document.getElementById("if-hint"), true);
                    document.getElementById("hint").innerHTML = hints[currentTask];
                } else {
                    setVisible(document.getElementById("if-hint"), false);
                    setVisible(document.getElementById(`task-${currentTask}`), true);
                }
            };

            const setVisible = (elem, visible) => {
                if (visible) {
                    elem.style.display = "block";
                } else {
                    elem.style.display = "none";
                }
            };

            const request = async (addr) => {
                return (await fetch(addr)).json();
            };

            const updateScores = async () => {
                const scores = await request("/scores");
                const total = [];
                for (let i = 0; i < 3; ++ i) {
                    total.push(0);
                    for (j = 0; j < 6; ++ j) {
                        total[i] += scores[j][i];
                        if (scores[j][i] > 0) {
                            document.getElementById(`${j}-${i}`).innerText = scores[j][i].toFixed(1);
                        }
                    }
                }
                for (let i = 0; i < 3; ++ i) {
                    document.getElementById(`${i}`).innerText = total[i].toFixed(1);
                }
            };

            const logIn = async () => {
                const response = await request(`/log-in?group=${groupCode}`);

                loggedIn = true;
                showHint = response.show_hint;
                currentTask = response.current_post;

                updateVisibility();
            };

            const atPost = async () => {
                const response = await request(`/at-post?group=${groupCode}&post-code=${postCode}`);

                if (response) {
                    showHint = response.show_hint;
                    currentTask = response.current_post;
                }

                updateVisibility();
            };

            const post0Submit = async () => {
                // Fuld score på 20 sek eller mindre
                let score = 5 * 20 / snoerrebaandstid;
                score = Math.min(score, 5);
                score = Math.max(score, 0);
                const response = await request(`/submit?group=${groupCode}&score=${score}`);
                if (response) {
                    showHint = response.show_hint;
                    currentTask = response.current_post;
                }

                document.getElementById("post-code").value = null;
                await updateScores();
                updateVisibility();
            };

            const post1Submit = async () => {
                for (let i = 0; i < 5; ++ i) {
                    const select = document.getElementById(`task-1${i}-select`);
                    post1Answered[i] = select.selectedIndex;
                }

                let score = 0;
                for (let i = 0; i < 5; ++ i) {
                    if (post1Answered[i] === post1CorrectIndex[i]) {
                        ++ score;
                    }
                }
                score = Math.min(score, 5);
                score = Math.max(score, 0);

                const response = await request(`/submit?group=${groupCode}&score=${score}`);
                if (response) {
                    showHint = response.show_hint;
                    currentTask = response.current_post;
                }

                document.getElementById("post-code").value = null;
                await updateScores();
                updateVisibility();
            };

            const post2Submit = async () => {
                let score = 5 * 2 / 3;
                if (swallow.toLowerCase().includes("european")) {
                    score += 5 / 6;
                }
                if (swallow.toLowerCase().includes("african")) {
                    score += 5 / 6;
                }
                score = Math.min(score, 5);
                score = Math.max(score, 0);

                const response = await request(`/submit?group=${groupCode}&score=${score}`);
                if (response) {
                    showHint = response.show_hint;
                    currentTask = response.current_post;
                }

                document.getElementById("post-code").value = null;
                await updateScores();
                updateVisibility();
            };

            const post3Submit = async () => {
                for (let i = 0; i < 5; ++ i) {
                    const select = document.getElementById(`task-3${i}-select`);
                    post3Answered[i] = select.selectedIndex;
                }
                let score = 0;
                for (let i = 0; i < 5; ++ i) {
                    if (post3Answered[i] === post3CorrectIndex[i]) {
                        ++ score;
                    }
                }
                score = Math.min(score, 5);
                score = Math.max(score, 0);

                const response = await request(`/submit?group=${groupCode}&score=${score}`);
                if (response) {
                    showHint = response.show_hint;
                    currentTask = response.current_post;
                }

                document.getElementById("post-code").value = null;
                await updateScores();
                updateVisibility();
            };

            const post4Submit = async () => {
                // Fuld score på 20 sek eller mindre
                let score = 5 * 20 / stafettid;
                score = Math.min(score, 5);
                score = Math.max(score, 0);
                const response = await request(`/submit?group=${groupCode}&score=${score}`);
                if (response) {
                    showHint = response.show_hint;
                    currentTask = response.current_post;
                }

                document.getElementById("post-code").value = null;
                await updateScores();
                updateVisibility();
            };

            const post5Submit = async () => {
                // Fuld score på 20 sek eller mindre
                let score = 5 - 5 * Math.abs(gpu - 73000) / 73000;
                score = Math.min(score, 5);
                score = Math.max(score, 0);

                const response = await request(`/submit?group=${groupCode}&score=${score}`);
                if (response) {
                    showHint = response.show_hint;
                    currentTask = response.current_post;
                }

                document.getElementById("post-code").value = null;
                await updateScores();
                updateVisibility();
            };
        </script>
    </head>

    <body>
        <h1>Skattejagt</h1>
        <p>
            I nød kan man altid foretage en nødopringning; men husk! Opringer er ikke gratis, og der kvitteres med to strafpoint for hver oprinding, uanset grund og udfald.
        </p>
        <p>
            Asger: <a href="tel:004550661014">50 66 10 14</a>
            <br>
            Søren: <a href="tel:004529828841">29 82 88 41</a>
        </p>
        <div id="if-not-logged-in">
            <input type="text" placeholder="Gruppens kode" id="group-code">
            <button id="log-in">Log ind</button>
        </div>
        <div id="if-logged-in">
            <div id="if-hint">
                <div id="hint"></div>
                <input type="text" placeholder="Postens kode" id="post-code">
                <button id="submit-post-code">Indsend</button>
            </div>
            <div id="task-0">
                <h2>Opgave til post 1 </h2>
                <p>Ingen børnefødselsdag uden indtagelse af snørrebånd. Hvad er den allerhurtigste tid, som jeres allerhurtigste snørrebåndsspisere kan opnå? Tiden udfyldes af Søren Winkel Holmius den Mindre.</p>
                <input id="snoerrebaand">
                <button id="submit-0">Indsend</button>
            </div>
            <div id="task-1">
                <h2>Opgave til post 2 </h2>
                <p>Hvad er Asgers værste handel på aktiemarkedet?</p>
                <select id="task-10-select">
                    <option>Køb af GME</option>
                    <option>Salg af Tesla</option>
                    <option>Salg af Lithium Americas Corp.</option>
                    <option>Køb af Dogecoin</option>
                    <option>Køb af Novo Nordisk</option>
                </select>
                <p>Hvad er den laveste karakter, som Asger har fået i et færdiggjort fag eller kursus på gymnasiet/universitet?</p>
                <select id="task-11-select">
                    <option>12</option>
                    <option>10</option>
                    <option>7</option>
                    <option>02</option>
                    <option>-3</option>
                </select>
                <p>Asger er en stor gourmet. Hvordan har Asger engang lavet mayonnaise?</p>
                </p>
                <select id="task-12-select">
                    <option>Olie + æg</option>
                    <option>Olie + tis</option>
                    <option>Olie + sennep + hvidløg</option>
                    <option>Olie + sennep + æg</option>
                    <option>Olie + linear algebra</option>
                </select>
                <p>For hvilken musiker har Asger for en stund været blandt de mest 0.05 % lyttende fans i verden i følge Spotify?</p>
                <select id="task-13-select">
                    <option>Andrew Lloyd Webber</option>
                    <option>Sømændene</option>
                    <option>Sabaton</option>
                    <option>Nephew</option>
                    <option>ABBA</option>
                </select>
                <p>Hvilken af disse ting har Asger ikke bygget i Minecraft?</p>
                <select id="task-14-select">
                    <option>En rumfærge</option>
                    <option>Powerpoint</option>
                    <option>En lommeregner</option>
                    <option>Brøndby Stadion</option>
                    <option>En portal til Nether</option>
                </select>
                <br><br>
                <button id="submit-1">Indsend</button>
            </div>
            <div id="task-2">
                <h2>Opgave til post 3</h2>
                <img src="{{ bridgekeeper }}">
                <p>Stop. Who would cross the Mølleå Bridge must answer me these questions three, ere the other side he see.</p>
                <p>What… is your name?</p>
                <input type="text">
                <p>What… is your quest?</p>
                <input type="text">
                <p>What… is the air-speed velocity of an unladen swallow?</p>
                <input type="text" id="swallow">
                <br><br>
                <button id="submit-2">Indsend</button>
            </div>
            <div id="task-3">
                <h2>Opgave til post 4 </h2>
                <p>Mens Asger er i Texas flytter der en stakkel ind, der skal leve i hans svinesti. Hvad hedder hun?</p>
                <select id="task-30-select">
                    <option>Camilla</option>
                    <option>Eper</option>
                    <option>Nerea</option>
                    <option>Janne</option>
                    <option>Alicia</option>
                </select>
                <p>Hvem skal Asger arbejde for i Texas?</p>
                <select id="task-31-select">
                    <option>Meta</option>
                    <option>Boeing</option>
                    <option>DARPA</option>
                    <option>Lockheed Martin</option>
                    <option>In-N-Out Burgers</option>
                </select>
                <p>Hvad skal Asger arbejde på for det firma?</p>
                <select id="task-32-select">
                    <option>Produktion af sprængstoffer for den amerikanske hær.</option>
                    <option>Vejrmodeller</option>
                    <option>Jetfly</option>
                    <option>Kunstig intelligens til at opdage medarbejdere, der ikke laver nok</option>
                    <option>Server-infrastruktur</option>
                </select>
                <p>Hvad er den gennemsnitlige daglige max-temperatur i januar i den by, hvor Asger skal bo?</p>
                <select id="task-33-select">
                    <option>5 grader</option>
                    <option>12 grader</option>
                    <option>16 grader</option>
                    <option>19 grader</option>
                    <option>22 grader</option>
                </select>
                <p>Asger har haft nært kendskab til én person fra Texas før. Hvor mødte han vedkommende?</p>
                <select id="task-34-select">
                    <option>På druktur i Tyskland</option>
                    <option>I gruppearbejde på DTU</option>
                    <option>På Reddit under diskussioner om SpaceX</option>
                    <option>På Tinder i Sverige</option>
                    <option>I Georg Mohr-konkurrencen</option>
                </select>
                <br><br>
                <button id="submit-3">Indsend</button>
            </div>
            <div id="task-4">
                <h2>Opgave til post 5 </h2>
                <p>Asger er kommet sent i gang med øl, men har gjort sit for at indhente alle de små grønne venner, han missede. Han kommer til jer og giver jer muligheden for at vinde Danmarksmesterskabet i ølstafet. Asgerius den Store indtaster selv resultatet.</p>
                <input id="stafet">
                <button id="submit-4">Indsend</button>
            </div>
            <div id="task-5">
                <h2>Opgave til post 6 </h2>
                <p>Asger har igennem sit studie flittigt brugt grafikkortene i DTU's åbne supercomputer til mere eller mindre seriøse opgaver. Hvor meget ville det have kostet, hvis Asger selv havde skullet betale for al hans køretid på grafikkort?</p>
                <input id="gpu">
                <button id="submit-5">Indsend</button>
            </div>
        </div>

        <h2>Leaderboard</h2>
        <button id="update">Opdater</button>
        <table>
            <tr>
                <th></th>
                <th>Gruppe 1</th>
                <th>Gruppe 2</th>
                <th>Gruppe 3</th>
            </tr>
            <tr><td>Post 1</td><td id="0-0"></td><td id="0-1"></td><td id="0-2"></td></tr>
            <tr><td>Post 2</td><td id="1-0"></td><td id="1-1"></td><td id="1-2"></td></tr>
            <tr><td>Post 3</td><td id="2-0"></td><td id="2-1"></td><td id="2-2"></td></tr>
            <tr><td>Post 4</td><td id="3-0"></td><td id="3-1"></td><td id="3-2"></td></tr>
            <tr><td>Post 5</td><td id="4-0"></td><td id="4-1"></td><td id="4-2"></td></tr>
            <tr><td>Post 6</td><td id="5-0"></td><td id="5-1"></td><td id="5-2"></td></tr>
            <tr class="last"><td>Total</td><td id="0">0.0</td><td id="1">0.0</td><td id="2">0.0</td></tr>
        </table>

        <h2>Kort over Nybrogård</h2>
        <p>Jeres færd er ikke garanteret at blive inde for kortet &ndash; men fat mod, svende, og så vil lykkens gudinde tilsmile jer, inden aftenen er omme!</p>
        <img src="{{ kort }}">
    </body>
</html>
